/*
=======================================
table of Contents
=======================================

1-Header Design
2-Button && icon
3-Model
4-Responsive Design (Media Query)

*/

/* =======================================
1- STart Header Design
======================================= */
#button {
  font-size: 1.4rem;

  text-transform: capitalize;
}

.icon {
  background-color: rgba(199, 0, 0, 0.627);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 42px;
  color: wheat;
}
.icon:hover {
  background-color: rgb(83, 0, 0);
  color: white;
}

.icoN {
  background-color: #ff0000;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 46px;
  color: black;
}

.modal-box {
  background-image: linear-gradient(
    rgba(18, 0, 47, 0.903),
    rgba(23, 0, 0, 0.953)
  );
  animation: identifier 0.9s;
  -webkit-animation: identifier 0.9s 1;
}
@keyframes identifier {
  0% {
    scale: 0;
  }

  60% {
    scale: 1.9;
  }

  100% {
    scale: 2;
  }
}

/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// */

/* =======================================

4-Responsive Design (Media Query)
======================================= */
@media (max-width: 1093px) {
  #button {
    font-family:
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1.05rem;
    text-transform: capitalize;
  }
}

/* End media Screen */

/* =======================================
1- End Header Design
======================================= */
